<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>My first Vue app</title>
  <script src="https://unpkg.com/vue@2"></script>
</head>
<body>

  <div id="vue-app">
    {{ message }}
  </div>

</body>
</html>
