<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>My first Vue app</title>
  <script src="https://unpkg.com/vue@2"></script>
  <style
</head>
<body>

  <div id="vue-app">
    <h1>Events</h1>
    <button @click.once="add(1)">Add a Year</button>
    <button @click="subtract(1)">Subtract a Year</button>
    <button @dblclick="add(10)">Add 10 Years</button>
    <button @dblclick="subtract(10)">Subtract 10 Years</button>
    <p>My Age is {{ age }}</p>
    <div id="canvas" v-on:mousemove="updateXY">{{x}},{{y}}</div>
  </div>

  <script src="app.js"></script>

</body>
</html>
