<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>My first Vue app</title>
  <link href="style.css" rel="stylesheet"/>
  <script src="https://unpkg.com/vue@2"></script>
</head>
<body>

  <div id="vue-app">
    <h1>Keyboard Event</h1>
    <label>Name:</label>
    <input type="text" v-model="name">
    <span>{{ name }}</span>
    <label>Age:</label>
    <input type="number" v-model="age">
    <span>{{ age }}</span>
  </div>

  <script src="app.js"></script>

</body>
</html>
