<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>My first Vue app</title>
  <link href="style.css" rel="stylesheet"/>
  <script src="https://unpkg.com/vue@2"></script>
</head>
<body>

  <div id="vue-app">
    <button v-on:click="a++">Add to A</button>
    <button v-on:click="a++">Add to B</button>
    <p>A = {{ a }}</p>
    
  </div>

  <script src="app.js"></script>

</body>
</html>
