<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>My first Vue app</title>
  <link href="style.css" rel="stylesheet"/>
  <script src="https://unpkg.com/vue@2"></script>
</head>
<body>

  <div id="vue-app">
    <h1>Conditionals</h1>
    <button v-on:click="error = !error">Toggle Error</button>
    <button v-on:click="success = !success">Toggle Success</button>
    <p v-if="error">There has been an error</p>
    <p v-elseif="success">** Congratualations **</p>
  </div>

  <script src="app.js"></script>

</body>
</html>
