#canvas{
    width: 600px;
    padding: 200px 20px;
    text-align: center;
    border: 1px solid #333;
    /* width: 10px;
    padding: 10px 10px;
    text-align: center;
    border: 1px solid #333; */
}